[Unit]
Description=Gunicorn HTTP server daemon
Requires=gunicorn.socket
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p -m=775 /var/log/gunicorn
ExecStartPre=/bin/chown -R nobody:nogroup /var/log/gunicorn
PIDFile=/run/gunicorn/pid
User=nobody
Group=nogroup
RuntimeDirectory=gunicorn
WorkingDirectory=/home/pi/Projects/smart-home-api/
ExecStart=/usr/local/bin/gunicorn -c file:./gunicorn/release-conf.py api:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target